<?xml version = "1.0"?>
<Game>

    <mode>evolutionaryStabilityTest</mode>
    <numRounds>10000</numRounds>
    <epsilon>0.01</epsilon>
    <numStages>1:1:50</numStages>
    <winProbability>0.5:0.1:0.51</winProbability>
    <startMoney>100</startMoney>
    <populationSize>25:5:25</populationSize>
    <strategyStartValues>0.0:0.025:1.001</strategyStartValues>
    <strategyEndValues>0.0:0.01:1.001</strategyEndValues>
    <outputFileName>simulation output.txt</outputFileName>
    <outputMode>1</outputMode>

    <!--
    <mode>payoffFunction</mode>
    <epsilon>0.001</epsilon>
    <numRounds>10000</numRounds>
    <numStages>1</numStages>
    <winProbability>0.9</winProbability>
    <startMoney>100</startMoney>
    <populationSize>2</populationSize>
    <strategyStartValues>0.0:0.1:1.001</strategyStartValues>
    <strategyEndValues>0.0:0.1:1.0001</strategyEndValues>
    <outputFileName>payoff.txt</outputFileName>
    -->

</Game>