<?xml version = "1.0"?>
<Game>
    <!--
    <mode>evolutionaryStabilityTest</mode>
    <numRounds>10000</numRounds>
    <epsilon>0.01</epsilon>
    <numStages>1:1:50</numStages>
    <winProbability>0.5:0.25:0.75</winProbability>
    <startMoney>100</startMoney>
    <populationSize>100:5:100</populationSize>
    <strategyStartValues>0.0:0.025:1.001</strategyStartValues>
    <strategyEndValues>0.0:0.01:1.001</strategyEndValues>
    <outputFileName>simulation output (100).txt</outputFileName>
    <outputMode>1</outputMode>
    -->

    <mode>payoffFunction</mode>
    <epsilon>0.001</epsilon>
    <numRounds>10000</numRounds>
    <numStages>20</numStages>
    <winProbability>0.6</winProbability>
    <startMoney>100</startMoney>
    <populationSize>2</populationSize>
    <strategyStartValues>0.0:0.1:1.001</strategyStartValues>
    <strategyEndValues>0.0:0.1:1.0001</strategyEndValues>
    <outputFileName>payoff.txt</outputFileName>

</Game>