<?xml version = "1.0"?>
<Game>

    <mode>evolutionaryStabilityTest</mode>
    <numRounds>1000</numRounds>
    <epsilon>0.05</epsilon>
    <numStages>10</numStages>
    <winProbability>0.4</winProbability>
    <startMoney>100</startMoney>
    <populationSize>2:1:1000</populationSize>
    <strategyStartValues>0.0:0.05:1.001</strategyStartValues>
    <strategyEndValues>0.0:0.01:1.001</strategyEndValues>
    <outputFileName>simulation output.txt</outputFileName>

    <!--
    <mode>payoffFunction</mode>
    <epsilon>0.001</epsilon>
    <numRounds>10000</numRounds>
    <numStages>1</numStages>
    <winProbability>0.9</winProbability>
    <startMoney>100</startMoney>
    <populationSize>2</populationSize>
    <strategyStartValues>0.0:0.1:1.001</strategyStartValues>
    <strategyEndValues>0.0:0.1:1.0001</strategyEndValues>
    <outputFileName>payoff.txt</outputFileName>
    -->

</Game>